[Desktop Entry]
Encoding=UTF-8
Name=Webnail
Comment=Create scaled images or web pages with thumbnail images
Exec=webnail --gui %u
TryExec=webnail
MimeType=application/prs.wtz.webnail+xml;
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/webnail.svg
Categories=Application;Graphics;
X-Ayatana-Desktop-Shortcuts=New
OnlyShowIn=GNOME;Unity;

[New Shortcut Group]
Name=New Webnail Window
Exec=webnail
TargetEnvironment=Unity
